[submodule "themes/home-assistant-community-themes"]
	path = themes/home-assistant-community-themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git
[submodule "themes/HAConfig-themes"]
	path = themes/HAConfig-themes
	url = https://github.com/Scott8586/HAConfig-themes.git
